body {
  /*background-color: #f2b3e1;*/
  background: linear-gradient(55deg, #f2b3e1, #ea0e2f);
}

@media screen and (min-width: 1350px) {
  img.left {
    float: left;
    border: 8px solid black;
  }

  img.right {
    float: right;
    border: 8px solid black;
  }

  div img {
    height: 350px;
  }

  div.divclass {
    margin: inherit;
    height: 365px;
    padding: 15px;
  }
   .left .personality {
     display: inline-block;
     width: 30%;
     height: 100%;
      }

  .infobox {
    display: inline-block;
    /*background-color: black;*/
    position: absolute;
    margin-top: 15px;

  }

  .right .personality {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: right;
  }

  div.personality {
    padding: 10px;
    /*background-color: black;*/
  }
}
