body {
  /*background-color: #f2b3e1;*/
  background: linear-gradient(55deg, #f2b3e1, #ea0e2f);
}

img.left {
  float: left;
  border: 8px solid black;
}

img.right {
  float: right;
  border: 8px solid black;
}

div img {
  height: 350px;
}

div.divclass {
  border: 8px solid black;
  margin: inherit;
  height: 365px;
}
